@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/
*{
    margin: 0px;
    padding: 0px;
}
#formulario{
    width: 600px;
    background-color: white;
    margin: auto;
}
main{
    background-image: linear-gradient(90deg, #49a09d,#5f2c82);
    height: 100vh;
}